body{
    background-image: url(./fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15pt;
    text-align: center;
}

.introducao{
    background: rgba(255, 255, 255, 0.295);
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;

}

#eu{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    float: left;
}

.habilidades{
    font-size: 13pt;
}

#descricao{
    font-style: italic;
}

.buttons{
    text-decoration: none;
    font-size: 12px;
    padding: 11px 17px;
    background-color: rgba(255, 255, 255, 0.658);
    border-radius: 10px;
    line-height: 50px;
    color: black;
}

h3{
    color: black;
}

.habilities-box{
    width: 30%;
    margin: auto;
    margin-left: 450px;
    margin-bottom: 20px;
    font-size: 12pt;
}

.habilities-box h3{
    font-size: 12pt;
    margin-left: 20%;
    background-color: rgba(255, 255, 255, 0.185);
    border-radius: 10px;
}

.left-habs{
    float: left;
}

.right-habs{
    float: right;
}