* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
}

li, nav{
  list-style: none;
}

.header-container {
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  font-weight: bolder;
  background-color: #202123;
}

.nav-container ul{
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-container ul a {
  text-decoration: none;
  color: inherit;
}

.nav-container ul li {
  padding: 20px;
  cursor: pointer;
  color: white;
}

.nav-container ul li:hover {
  background-color: black;
  border-radius: 3px;
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh !important;
  background-image: url(images/fundo2.jpg);
  background-attachment: fixed;
}

.home-container1 {
  width: 70%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #202123;
  font-size: 40pt;
  flex-grow: 1;
}

.down-arrow {
  width: 50px;
  height: 50px;
}

.about-container {
  height: 80vh;
  display: flex;
  justify-content: center;
  background-color: #e4e3e3;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 700px;
  text-align: center;
}

.about img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.about-text {
  padding: 20px;
}

.habilities {
  border-radius: 8px;
  width: 50%;
  box-shadow: 3px 3px 3px 3px #222;
  display: flex;
  width: 600px;
  flex-wrap: wrap;
  text-align: center;
  row-gap: 25px;
  column-gap: 20px;
  justify-content: space-evenly;
  padding: 10px;
  background-color: #202123d2;
}

.habilities-container {
  height: 100vh !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: white;
  background-image: url(images/fundo3.jpg);
  background-attachment: fixed;
}

.habilities img {
  width: 100px;
  height: 100px;
}

.habilities div {
  color: white;
}

@media (max-width: 1250px) {
  .nav-container ul a {
    font-size: 10px;
  }

  .title {
    font-size: 40pt;
    padding-top: 100px;
  }

  .home-container1 {
    font-size: 30pt;
  }

  .home-container1 .rocket {
    font-size: 3rem;
  }

  .habilities {
    width: 40%;
    height: auto;
    font-size: 7px;
  }

  .habilities-container h2 {
    font-size: 15px;
  }

  .habilities img {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 550px) {
  .habilities img {
    width: 45px;
    height: 45px;
  }

  .habilities {
    width: 70%;
  }

  .title {
    font-size: 30pt;
    padding-top: 150px;
  }

  .about img {
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 320px) {
  .habilities img {
    width: 70px;
    height: 70px;
  }
}